<div class="tabs">
  <ul>
    <li data-tab="1" class="is-active"><a>Front End</a></li>
    <li data-tab="2"><a>Back End</a></li>
    <li data-tab="3"><a>Tools</a></li>
  </ul>
</div>
<div class="container">
  <div id="tab-content">
    <div class="active-content columns is-multiline is-size-7-touch" data-content="1">
      <div class="column is-half">
        <ul class="has-text-left">
          <li>CSS3</li>
          <li>Bootstrap 4</li>
          <li>Bulma</li>
          <li>FoundationCSS</li>
        </ul>
      </div>
      <div class="column is-half">
        <ul class="has-text-left">
          <li>Javascript</li>
          <li>ES6</li>
          <li>VueJS</li>
          <li>d3.js</li>
        </ul>
      </div>
    </div>
    <div class="columns" data-content="2">
      <div class="column is-half">
        <ul class="has-text-left">
          <li>NodeJS</li>
          <li>Express</li>
          <li>MongoDB</li>
          <li>PostgreSQL</li>
        </ul>
      </div>
      <div class="column is-half">
        <ul class="has-text-left">
          <li>Ruby</li>
          <li>Ruby On Rails</li>
          <li>Sinatra</li>
        </ul>
      </div>
    </div>
    <div class="columns" data-content="3">
      <div class="column is-half">
        <ul class="has-text-left">
          <li>AWS</li>
        </ul>
      </div>
      <div class="column is-half">
        <ul class="has-text-left">
          <li>Heroku</li>
        </ul>
      </div>
    </div>
  </div>
</div>
