<div class="header">
  <h1>Steven Kang</h1>
  <div class="aspiring-container">
    <h5>An aspiring</h5>
    <div class="aspiring"><span class="asp-content"></span></div>
  </div>
</div>
<div class="and">
  and
</div>
<div class="bios">
  <ul>
    <li>
      <strong>Full-stack Developer</strong> currently living in beautiful British Columbia
    </li>
    <li>
      <strong>Student</strong> pursuing a Computer Systems Technology Diploma at the British Columbia Institute of Technology
    </li>
    <li>
      <strong>Graduate</strong> of <a href="https://www.lighthouselabs.ca/">Lighthouse Labs</a>' full-time web development bootcamp
  </ul>
</div>
