<section id="header-hero" class="hero has-background-grey has-text-centered is-fullheight">
  <div class="hero-head">
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Hi, I'm Steven
      </h1>
      <h3 class="subtitle is-3">
        <span id="typed"></span>
      </h3>
      <h3 class="subtitle is-3 has-text-primary">
        I love making things and solving problems
      </h3>
    </div>
  </div>
  <div class="hero-foot">
  </div>
</section>
