<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="shortcut icon" href="icons/favicon.ico"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/navbar.css"/>
    <script
                           src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
                           integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  </head>
  <body>
    <%- include('navbar') -%>
    <div class="header-container">
      <div class="header">
        <h1>Steven Kang</h1>
        <div class="aspiring-container">
          <h5>An aspiring</h5>
          <div class="aspiring"><span class="asp-content"></span></div>
        </div>
      </div>
      <div class="and">
        and
      </div>
      <div class="bios">
        <ul>
          <li>
            <strong>Full-stack Developer</strong> currently living in beautiful British Columbia
          </li>
          <li>
            <strong>Student</strong> pursuing a Computer Systems Technology Diploma at the British Columbia Institute of Technology
          </li>
          <li>
            <strong>Graduate</strong> of <a href="https://www.lighthouselabs.ca/">Lighthouse Labs</a>' full-time web development bootcamp
        </ul>
      </div>
    </div>
    <script src="javascripts/index.js"></script>
  </body>
</html>
