<div class="navbar-container">
  <div class="navbar">
    <h1><a href="#header" class="inactive">Steven Kang</a></h1>
    <ul>
      <li class="nav-item nav-projects">
        <a href="#projects">Projects</a>
      </li>
      <li class="nav-item nav-blog">
        <a href="#blog">Blog</a>
      </li>
      <li class="nav-item nav-links">
        <a href="#links">My Links
          <div class="bubbles">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </a>
        <div class="links">
          <ul>
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/steven-kang-531b28125/" alt="LinkedIn">
                <img src="icons/linkedin.svg"></img>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/buzzbumble" alt="Github">
                <img src="icons/github.svg"></img>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
