<link rel="stylesheet" href="css/navbar.css"/>
<div class="navbar-container">
  <div class="navbar">
    <a href="#header" class="header-icon nav-item nav-s">
      <i class="fas fas-home">
      </i>
    </a>
    <h1 class="nav-item nav-l nav-item">
      <a href="#header">
        Steven Kang
      </a>
    </h1>
  </div>
</div>
