<div class="projects-content">
  <div class="projects-sidebar">
    <ul>
      <li class="project-item selected">
        <div class="games-i-play">
          <img src="images/games-i-play.png"></img>
          <span>Games I Play</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="projects-info">
    <%- include('projects/games-i-play.ejs') -%>
  </div>
</div>
