<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="icons/favicon.ico"/>
    <link rel="stylesheet" href="styles/css/pixel.css"/>
  </head>
  <body>
    <div id="scene">
      <div id="main-menu" data-depth-x="0.01" data-depth-y="3">
        <div id="menu-building">
          <div id="enter-sign" class="lightable"></div>
          <div id="themes-sign" class="lightable"></div>
          <div id="themes-sign-blur"></div>
        </div>
      </div>
      <div id="background" data-depth-x="0.4" data-depth-y="1"></div>
      <div id="buildings-far" data-depth-x="0.8" data-depth-y="2"></div>
      <div id="buildings-near" data-depth-x="1.2" data-depth-y="4"></div>
    </div>
    <div id="index-container" class="container">
      <div id="index-hero">
        <div id="hero-header" class="centered-vert text-center">
          <h1 class="header-title centered-hor">
            < SKANG.TECH >
          </h1>
          <h3 class="header-subtitle centered-hor">
            (steven kang)
          </h3>
        </div>
    </div>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/parallax.min.js"></script>
    <script src="js/pixel/index.js"></script>
  </body>
</html>
