<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icons/favicon.ico"/>
    <link rel="stylesheet" href="styles/css/pixel.css"/>
  </head>
  <body>
    <script src="vendor/jquery.min.js"></script>
    <h1>
      Hi
    </h1>
    <%-// include('header') -%>
    <%-// include('about') -%>
  </body>
</html>
