@use 'images';
@use 'anim';
// Reusable components

@mixin parallax-scene {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  image-rendering: crisp-edges;

  $background: "#background";
  $buildings-far: "#buildings-far";
  $buildings-near: "#buildings-near";

  #{$background, $buildings-far, $buildings-near} {
    width: 100%;
    height: 100%;
    &.blurred {
      filter: blur(5px);
    }
  }

  #{$background} {
    @include skyline-background;
  }

  #{$buildings-far} {
    @include buildings-far;
  }

  #{$buildings-near} {
    @include buildings-near;
  }

  #main-menu {
    width: 100%;
    height: 100%;
    z-index: 1;
    backface-visibility: hidden;
    transform-style: preserve-3d;


    #menu-building {
      $multiplier: 1.6;
      position: absolute;
      right: images.$menu-building-width * 2.5;
      bottom: images.$menu-building-height * 0.7;
      width: images.$menu-building-width * $multiplier;
      height: images.$menu-building-height * $multiplier;
      bottom: 0;
      background: url(images.$menu-building) no-repeat;
      background-position: right bottom;
      background-size: contain;
      filter: brightness(1.2);
      pointer-events: auto;
      transition: transform 0.25s ease-out;

      &:hover {
        transform: perspective(100px) scale(1.1, 1.1) translate(-75px,0px);
      }

      #enter-sign {
        pointer-events: auto;
        position: absolute;
        top: images.$enter-sign-y-offset * $multiplier;
        left: images.$enter-sign-x-offset * $multiplier;
        width: images.$enter-sign-width * $multiplier;
        height: images.$enter-sign-height * $multiplier;
        background: url(images.$enter-sign) no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 5;

        &:hover {
          filter: brightness(1.5);
          -webkit-box-shadow: 0 0 50px rgb(255, 248, 68);
          box-shadow:         0 0 50px rgb(255, 248, 68);
        }
      }

      #themes-sign, #themes-sign-blur {
        position: absolute;

        width: images.$themes-sign-width * $multiplier;
        left: images.$themes-sign-width / 20 * $multiplier;

        height: images.$themes-sign-height * $multiplier;
        top: images.$themes-sign-height / 4 * $multiplier;

        background: url(images.$themes-sign) no-repeat;
        background-position: center;
        background-size: contain;

        z-index: 5;
      }

      #themes-sign {
        pointer-events: auto;
      }

      #themes-sign-blur {
        pointer-events: none;
      }

      #themes-sign:hover {
        filter: brightness(2) !important;

        & + #themes-sign-blur {
          background-position: center right !important;
          -webkit-box-shadow: 0 0 10px 5px #ff4fa7, inset 0 0 40px #ff4fa7;
          box-shadow: 0 0 10px 5px #ff4fa7, inset 0 0 40px #ff4fa7;
          filter: blur(10px);
        }
      }


    }
  }
}

@mixin skyline-background {
  background: url(images.$bg_skyline_a) repeat-x;
  background-position: center 120%;
  background-size: auto 120%;
  background-color: #031B70;
}

@mixin buildings-far {
  background: url(images.$bg_buildings_far) repeat-x;
  background-position: center bottom;
  background-size: auto 100%;
  filter: blur(1px);
}

@mixin buildings-near {
  background: url(images.$bg_buildings_near) repeat-x;
  background-position: center 100%;
  background-size: auto 70%;
  filter: blur(1px);
}
