$warped_base_url: '../../images/warped_assets/';

$warped_bg_url: $warped_base_url + 'background/';

$warped_player_url: $warped_base_url + 'player/';
$player_idle_url: $warped_player_url + 'idle/';

$bg_buildings_far: $warped_bg_url + 'buildings-bg.png';
$bg_buildings_near: $warped_bg_url + 'near-buildings-bg.png';
$bg_skyline_a: $warped_bg_url + 'skyline-a.png';
$bg_skyline_b: $warped_bg_url + 'skyline-b.png';
$menu_building: $warped_bg_url + 'menu-building.png';
$themes_sign: $warped_bg_url + 'themes-sign.png';
$enter_sign: $warped_bg_url + 'about-sign.png';

$menu-building-width: 232px;
$menu-building-height: 430px;

$enter-sign-width: 62px;
$enter-sign-height: 239px;

$enter-sign-y-offset: 85px;
$enter-sign-x-offset: 0px;

$themes-sign-width: 160px;
$themes-sign-height: 31px;