@use 'vars';

@mixin for-desktop {
  @media all and (min-width: vars.$bp_desktop_min) and (max-width: vars.$bp_desktop_max) {
    @content;
  }
}
 
@mixin for-tablet-LS {
  @media all and (min-width: vars.$bp_tablet_ls_min) and (max-width: vars.$bp_tablet_ls_max) {
    @content;
  }
}

@mixin for-tablet-LS-up {
  @media all and (min-width: vars.$bp_tablet_ls_min) {
    @content;
  }
}

@mixin for-tablet-portrait { 
  @media all and (min-width: vars.$bp_tablet_min) and (max-width: vars.$bp_tablet_max) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media all and (min-width: vars.$bp_tablet_min) {
    @content;
  }
}

@mixin for-mobile { 
  @media all and (max-width: vars.$bp_mobile_ls_max) {
    @content;
  }
}
