@use 'vars';
@use 'images';
@use 'fonts';

@mixin for-large-desktop {
  @media all and (min-width: vars.$bp_large_desktop) {
    @content;
  }
}

@mixin for-desktop {
  @media all and (min-width: vars.$bp_desktop_min) and (max-width: vars.$bp_desktop_max) {
    @content;
  }
}
 
@mixin for-tablet-LS {
  @media all and (min-width: vars.$bp_tablet_ls_min) and (max-width: vars.$bp_tablet_ls_max) {
    @content;
  }
}

@mixin for-tablet-LS-up {
  @media all and (min-width: vars.$bp_tablet_ls_min) {
    @content;
  }
}

@mixin for-tablet-portrait { 
  @media all and (min-width: vars.$bp_tablet_min) and (max-width: vars.$bp_tablet_max) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media all and (min-width: vars.$bp_tablet_min) {
    @content;
  }
}

@mixin for-mobile { 
  @media all and (max-width: vars.$bp_mobile_ls_max) {
    @content;
  }
}

@mixin main-menu-dimensions {
  @include for-large-desktop {
    $hwmulti: 2;
    #menu-building {
      width: images.$menu-building-width * $hwmulti;
      height: images.$menu-building-height * $hwmulti;
      right: 20%;
      // right: images.$menu-building-width * $hwmulti;

      #enter-sign {
        width: images.$enter-sign-width * $hwmulti;
        height: images.$enter-sign-height * $hwmulti;
        top: 93px * $hwmulti;
      }
      #themes-sign {
        width: images.$themes-sign-width * $hwmulti;
        height: images.$themes-sign-height * $hwmulti;
        left: images.$themes-sign-width / 20 * $hwmulti;
        top: images.$themes-sign-width / 4 * $hwmulti;
      }
    }
  }

  @include for-desktop {
    $hwmulti: 2.5;
    #menu-building {
      width: images.$menu-building-width * $hwmulti;
      height: images.$menu-building-height * $hwmulti;
      right: images.$menu-building-width * 2.5;

      #enter-sign {
        width: images.$enter-sign-width * $hwmulti;
        height: images.$enter-sign-height * $hwmulti;
        top: 93px * $hwmulti;
      }
      #themes-sign {
        width: images.$themes-sign-width * $hwmulti;
        height: images.$themes-sign-height * $hwmulti;
        left: images.$themes-sign-width / 20 * $hwmulti;
        top: images.$themes-sign-width / 4 * $hwmulti;
      }
    }
  }
  @include for-tablet-LS {
    $hwmulti: 2;
    #menu-building {
      width: images.$menu-building-height * $hwmulti;
      height: images.$menu-building-width * $hwmulti;
      #enter-sign {
        width: images.$enter-sign-width * $hwmulti;
        height: images.$enter-sign-height * $hwmulti;
      }
      #themes-sign {
        width: images.$themes-sign-width * $hwmulti;
        height: images.$themes-sign-height * $hwmulti;
        left: images.$themes-sign-width / 20 * $hwmulti;
        top: images.$themes-sign-width / 4 * $hwmulti;
      }
    }
  }
  @include for-tablet-portrait {
    $hwmulti: 1;
    #menu-building {
      width: images.$menu-building-height * $hwmulti;
      height: images.$menu-building-width * $hwmulti;
      #enter-sign {
        width: images.$enter-sign-width * $hwmulti;
        height: images.$enter-sign-height * $hwmulti;
      }
      #themes-sign {
        width: images.$themes-sign-width * $hwmulti;
        height: images.$themes-sign-height * $hwmulti;
        left: images.$themes-sign-width / 20 * $hwmulti;
        top: images.$themes-sign-width / 4 * $hwmulti;
      }
    }
  }
  @include for-mobile {
    $hwmulti: 1.2;
    #menu-building {
      width: images.$menu-building-width * $hwmulti;
      height: images.$menu-building-height * $hwmulti;
      right: 80px;
      #enter-sign {
        width: images.$enter-sign-width * $hwmulti;
        height: images.$enter-sign-height * $hwmulti;
        top: 93px * $hwmulti;
      }
      #themes-sign {
        width: images.$themes-sign-width * $hwmulti;
        height: images.$themes-sign-height * $hwmulti;
        left: images.$themes-sign-width / 20 * $hwmulti;
        top: images.$themes-sign-width / 4 * $hwmulti;
      }
    }
  }
}