<div class="card column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
  <div class="card-image">
    <figure class="image is-4by3">
      <a target="_blank" href=<%= c.link %>>
        <img src=<%= c.thumbnail %>>
      </a>
    </figure>
  </div>
  <div class="media-content">
    <a target="_blank" href=<%= c.link %>>
      <p class="card-title title is-6">
      <%= c.title %>
      </p>
    </a>
  </div>
</div>
