<div class="card column is-one-quarter is-half-tablet">
  <div class="card-image">
    <figure class="image is-4by3">
      <a target="_blank" href=<%= c.link %>>
        <img src=<%= c.thumbnail %>>
      </a>
    </figure>
  </div>
  <div class="media-content">
    <a target="_blank" href=<%= c.link %>>
      <p class="card-title title is-4 is-size-6-touch">
      <%= c.title %>
      </p>
    </a>
  </div>
</div>
