<div class="tabs">
  <ul>
    <li data-tab="1" class="is-active"><a>Languages</a></li>
    <li data-tab="2"><a>Tech</a></li>
    <li data-tab="3"><a>Concepts</a></li>
    <li data-tab="4"><a>Tools</a></li>
  </ul>
</div>
<div class="container">
  <div id="tab-content">
    <div class="active-content columns is-multiline is-size-6-touch" data-content="1">
      <div class="column is-half">
        <ul class="has-text-left">
          <li>C/C++</li>
          <li>SQL</li>
          <li>Java</li>
          <li>Go</li>
        </ul>
      </div>
      <div class="column is-half">
        <ul class="has-text-left">
          <li>Ruby</li>
          <li>HTML & CSS</li>
          <li>JavaScript</li>
        </ul>
      </div>
    </div>
    <div class="columns" data-content="2">
      <div class="column is-half">
        <ul class="has-text-left">
          <li>Ruby on Rails</li>
          <li>POSIX / UNIX</li>
          <li>NodeJS</li>
        </ul>
      </div>
      <div class="column is-half">
        <ul class="has-text-left">
          <li>ReactJS</li>
          <li>Express</li>
        </ul>
      </div>
    </div>
    <div class="columns" data-content="3">
      <div class="column is-half">
        <ul class="has-text-left">
          <li>Networking</li>
          <li>Agile Development</li>
          <li>Multiprocessing</li>
          <li>Object-Oriented Programming</li>
          <li>Functional Programming</li>
        </ul>
      </div>
      <div class="column is-half">
        <ul class="has-text-left">
          <li>Socket Programming</li>
          <li>Unit Testing</li>
          <li>Concurrency</li>
          <li>API Development</li>
        </ul>
      </div>
    </div>
    <div class="columns" data-content="4">
      <div class="column is-half">
        <ul class="has-text-left">
          <li>Heroku</li>
          <li>Git</li>
        </ul>
      </div>
      <div class="column is-half">
        <ul class="has-text-left">
          <li>AWS</li>
          <li>Docker</li>
        </ul>
      </div>
    </div>
  </div>
</div>
