<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icons/favicon.ico"/>
    <link rel="stylesheet" href="styles/css/simple-dark.css"/>
  </head>
  <body>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/typed.min.js"></script>
    <%- include('header') -%>
    <%- include('about') -%>
    <script src="js/simple-dark/index.js"></script>
  </body>
</html>
